<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>Paso 1</h2>
      <p>Detalle paso. Lorem ipsum.</p>
    </ion-item>
    <ion-item>
      <h2>Paso 2</h2>
      <p>Detalle paso. Lorem ipsum.</p>
    </ion-item>
    <ion-item>
      <h2>Paso 3</h2>
      <p>Detalle paso. Lorem ipsum.</p>
    </ion-item>
    <ion-item>
      <h2>Paso 4</h2>
      <p>Detalle paso. Lorem ipsum.</p>
    </ion-item>
  </ion-list>
</ion-content>
