<ion-header no-border>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="assets/img/logos/logo-header.png">
    </ion-title>
    <ion-buttons class="lupa" slot="end">
      <!-- <img src="assets/img/lupa-header.png"> -->
      <img src="assets/img/lupa-hidden.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row class="promo-box" justify-content-center *ngFor="let promo of promos" (click)="goToInternaPromo(promo)">

      <ion-col size="12" class="copete">
        <p float-left>{{promo.nombre}}</p>
      </ion-col>

      <ion-col class="col-img " size="12">
        <img [src]="api_url_super + promo.imgpath" />
      </ion-col>

      <ion-col size="12" class="info">
        <p class="title">{{promo.titulo}}</p>
        <p class="dir">{{promo.direccion}}</p>
        <!-- <p class="puntos">{{promo.puntos}} pts</p> -->
      </ion-col>

      <ion-col size="5" class="suma-puntos">
        <p class="title">Sumá puntos</p>
        <span class="puntos">
          <p class="puntos_promo">{{promo.puntos_promo}} <img src="assets/img/coin.png" alt=""></p>
        </span>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>