<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title_center">
      <img src="../../assets/img/logo-header.png">
    </ion-title>
    <div class="lupa">
      <img src="../../assets/img/lupa-header.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row justify-content-center>
    <ion-col size="12" *ngFor="let promo of promos">
      <ion-card (click)="goToBirreria(promo)">
        <p float-left>{{promo.barnombre}}</p>
        <p float-right>{{promo.puntos}} pts</p>
        <img src="{{promo.imagen}}" />
        <ion-card-header>
          <ion-card-title>{{promo.titulo}}</ion-card-title>
          <ion-card-subtitle>{{promo.direccion}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{promo.puntos}} pts
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <ion-card padding>
    <h3>Nombre Cervecería</h3>
    <p>
      <img src="../../assets/img/birreria.jpg" alt="" />
    </p>
    <p>Calle Falsa 123</p>
    <p>Abierto de 18 a 24</p>
  </ion-card>
  <p>Cupones disponibles:</p>
  <ion-card padding [routerLink]="'/interna-cupon/'" routerDirection="forward">
    <h3>50% off</h3>
    <p>Canjealo por 150 puntos!</p>
  </ion-card>
  <ion-card padding [routerLink]="'/interna-cupon/'" routerDirection="forward">
    <h3>2x1 en Scottish</h3>
    <p>Canjealo por 250 puntos!</p>
  </ion-card>
  <ion-card padding [routerLink]="'/interna-cupon/'" routerDirection="forward">
    <h3>2x1 en IPA</h3>
    <p>Canjealo por 100 puntos!</p>
  </ion-card>
  <p>Promociones disponibles:</p>
  <ion-card padding [routerLink]="'/interna-promocion/'" routerDirection="forward">
    <h3>50% off</h3>
    <p>Válido hasta el 30 de marzo</p>
  </ion-card>
  <ion-card padding [routerLink]="'/interna-promocion/'" routerDirection="forward">
    <h3>2x1 en Scottish</h3>
    <p>Válido hasta el 30 de marzo</p>
  </ion-card>
  <ion-card padding [routerLink]="'/interna-promocion/'" routerDirection="forward">
    <h3>2x1 en IPA</h3>
    <p>Válido hasta el 30 de marzo</p>
  </ion-card> -->
</ion-content>