<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="../../assets/img/logo-header.png">
    </ion-title>
    <div class="lupa">
      <img src="../../assets/img/lupa-header.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mis-puntos></mis-puntos>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 class="title">Canjeá tus puntos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="main-container">
    <ion-row *ngFor="let canje of canjes">
      <ion-col size="12">
        <h3>{{canje.nombre}}</h3>
        <p>{{canje.titulo}}</p>
        <p>{{canje.direccion}}</p>
        <p class="detalle">{{canje.detalle}}</p>
        <p class="puntos">Costo: {{canje.puntos_canje}} pts.</p>
      </ion-col>
      <ion-col size="12">
        <button (click)="goToInternaCanje(canje)">Canjear</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>