@import "../../global";
@import "../../theme/buttons";

.title {
  color: white;
}

.main-container {
  ion-row {
    background: $light-blue;
    margin-top: 5px;
    padding: 5px;

    .info-canje {
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
