<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/detalle-puntos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="../../assets/img/logos/logo-header.png">
    </ion-title>
    <ion-buttons class="lupa" slot="end">
      <img src="assets/img/lupa-hidden.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <mis-puntos></mis-puntos>

  <ion-grid class="main-container">
    <ion-row>
      <ion-col>
        <h3 class="title">Canjeá tus puntos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="canjes">
    <ion-row>

      <ion-col size="5" *ngFor="let canje of canjes" class="square-promo-col round-standard">

        <ion-row (click)="goToInternaCanje(canje)" class="square-promo">

          <ion-col size="12" class="copete">
            <span class="name">{{canje.nombre}}</span>
            <span class="puntos">
              <p class="puntos_promo">{{canje.puntos_canje}} <img src="assets/img/coin.png" alt=""></p>
            </span>
          </ion-col>

          <ion-col size="12" class="col-img">
            <img [src]="api_url_super + canje.imgpath" />
          </ion-col>

          <ion-col size="12" class="info">
            <p class="title"><strong>{{canje.titulo}}</strong></p>
            <p class="dir">{{canje.direccion}}</p>
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>