ion-header {

    ion-toolbar {

        .toolbar-background {

        }

        .toolbar-container {

        }
    }
}

ion-content {
    --background:  url("../../assets/img/crear-usuario/bg-cu.jpg") no-repeat center center / cover;

    ion-grid {
        padding: 0;

        ion-col {
            padding: 5px 0;

            .title-cuenta {
                color: #FFF;
                padding-left: 25px;
            }
    
            ion-item {
                --background: transparent;
                --border-color: #fff;
    
                ion-label {
                    --color: #FFF;
                    font-size: 0.8rem;
                    letter-spacing: 1px;

                    ion-icon {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .crear-usuario-button {
            height: 30vh;
            align-items: flex-end;

            ion-button {
                margin: 0;
                --background: var(--qmb-yellow);
                height: 50px;
            }

            p {
                color: #FFF;
                font-size: 0.7rem;
                letter-spacing: 1px;

                a {
                    color: #FFF;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
    }
}