<ion-header>
    <ion-toolbar [class.show-background]="showToolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true">

    <ion-grid class="main-container">
        <ion-row>
            <ion-col>
                <h1 class="title-cuenta">Crear Cuenta</h1>
            </ion-col>
        </ion-row>
        <ion-row class="completar-campos" *ngIf="submitAttempt">
            <ion-col>
                <p>Por favor, completá todos los campos</p>
            </ion-col>
        </ion-row>
        <ion-list lines="none" class="transparent list_registro">
            <form [formGroup]="registro">
                <ion-row>
                    <ion-col class="gral-form">
                        <ion-item>
                            <ion-label position="stacked" required="true">
                                <ion-icon name="person"></ion-icon>
                                <span> Nombre</span>
                            </ion-label>
                            <ion-input formControlName="nombre" type="text" required></ion-input>
                        </ion-item>
                        <!-- <ion-item *ngIf="!registro.controls.nombre.valid  && (registro.controls.nombre.dirty || submitAttempt)">
              <p>El campo "nombre" es obligatorio</p>
            </ion-item> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="gral-form">
                        <ion-item>
                            <ion-label position="stacked" required="true">
                                <ion-icon name="person"></ion-icon>
                                <span> Apellido</span>
                            </ion-label>
                            <ion-input formControlName="apellido" type="text" required></ion-input>
                        </ion-item>
                        <!-- <ion-item *ngIf="!registro.controls.apellido.valid  && (registro.controls.apellido.dirty || submitAttempt)">
              <p>El campo "apellido" es obligatorio</p>
            </ion-item> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="gral-form">
                        <ion-item>
                            <ion-label position="stacked" required="true">
                                <ion-icon name="mail"></ion-icon>
                                <span> Email</span>
                            </ion-label>
                            <ion-input formControlName="email" type="text" required></ion-input>
                        </ion-item>
                        <!-- <ion-item *ngIf="!registro.controls.email.valid  && (registro.controls.email.dirty || submitAttempt)">
              <p>El campo "email" es obligatorio</p>
            </ion-item> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="gral-form">
                        <ion-item>
                            <ion-label position="stacked" required="true">
                                <ion-icon name="lock"></ion-icon>
                                <span> Contraseña</span>
                            </ion-label>
                            <ion-input formControlName="password" type="password" required></ion-input>
                        </ion-item>
                        <!-- <ion-item *ngIf="!registro.controls.password.valid  && (registro.controls.password.dirty || submitAttempt)">
              <p>Ingrese una contraseña</p>
            </ion-item> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="gral-form">
                        <ion-item>
                            <ion-label position="stacked" required="true">
                                <ion-icon name="gift"></ion-icon>
                                <span> Fecha de nacimiento</span>
                            </ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="nacimiento" required></ion-datetime>
                        </ion-item>
                        <!-- <ion-item
              *ngIf="!registro.controls.nacimiento.valid  && (registro.controls.nacimiento.dirty || submitAttempt)">
              <p>Ingresá tu fecha de nacimiento</p>
            </ion-item> -->
                    </ion-col>
                </ion-row>
            </form>
        </ion-list>
        <ion-row class="crear-usuario-button align-items-center">
            <ion-col>
                <ion-button routerDirection="forward" expand="" (click)="crearUser()">Crear Cuenta</ion-button>
                <p class="ion-text-center">
                    Ya tenes cuenta?
                    <a [routerLink]="'/ingreso/'">Logueate</a>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>