<ion-header class="header-transparent">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="lista-hhour"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <img src="assets/logo-main.png">
        </ion-title>
    </ion-toolbar>
    <h1>Wilkenny</h1>
</ion-header>
<ion-content>

    <!-- <div class="main-img">
    <img src="assets/img/hhour-background.jpg" alt="">
    <h1>Wilkenny</h1>
  </div> -->

    <ion-grid class="main-container">

        <ion-row class="hhour-box">

            <ion-col size="12" class="titulo">
                <h2>2x1 en IPA</h2>
            </ion-col>

            <ion-col size="12" class="col-img-map">
                <img src="assets/img/int-hhour-map.png" alt="">
            </ion-col>

            <ion-col size="12" class="col-descripcion">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam quasi delectus ipsum tempore minima fugiat ullam fugit sed vitae, excepturi adipisci quo temporibus. Animi esse quod quisquam provident. Tempore, veniam.</p>
            </ion-col>

            <ion-col size="12" class="col-btn">
                <button>VER PROMOCIONES</button>
            </ion-col>


        </ion-row>

    </ion-grid>

</ion-content>