@import '../../theme/variables';
ion-tab-bar {
    --background: #fff!important;
    background: #fff!important;
    ion-icon {
        color: white;
    }
    ion-tab-button {
        img {
            max-width: 30%;
        }
    }
}