.button-inner.sc-ion-back-button-md {
    color: var(--qmb-yellow);
}

ion-buttons,
ion-title {
    color: white;
}

ion-header {
    ion-toolbar {
        background-color: #fff;
        --background-color: #fff;
        --background: url('/assets/logo-main.png') center center /19% 40% no-repeat;
        ion-title {
            max-width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            img {
                max-width: 25%;
            }
        }
        .lupa {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 55%;
            }
        }
    }
}

ion-menu {
    &.menu-lateral {
        ion-header {
            ion-toolbar {
                --background: none;
                ion-title {
                    color: var(--qmb-yellow);
                }
            }
        }
        ion-content {
            ion-list {
                ion-item {
                    img {
                        width: 25px;
                        margin-right: 15px;
                    }
                    ion-label {
                        font-size: 0.9rem!important;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.toolbar-content {
    display: flex !important;
}