@import "../../global";
@import "../../theme/header-transparent";
.header-transparent {
    ion-toolbar {
        background: url("../../assets/img/soporte.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30vh;
    }
}

ion-content {
    --background: #f6f8f8!important;
    background: #f6f8f8!important;
}

img {
    width: 100%;
}

.main-img {
    h1 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: $xgiant-font;
        color: white;
        text-shadow: 1px 1px 8px grey;
        font-weight: 500;
    }
}

ion-content {
    --background: #ffffff;
    background: #ffffff;
    padding: 0 15%;
}

.main-container {
    padding: 0 5%;
    .row-descripcion {
        padding: 0;
        ion-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            p {
                color: var(--ion-dark-gray);
                width: 100%;
                font-size: $semi-big-font;
                font-weight: 700;
                display: flex;
                align-items: center;
                margin-bottom: 0;
            }
            span {
                font-size: $small-font;
                color: #8f9192;
                font-weight: 400;
                margin-left: auto;
            }
        }
    }
    .row-fecha {
        ion-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            p {
                color: black;
            }
        }
    }
    .row-texto {
        ion-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            ion-textarea {
                border: 1px solid lightgrey;
                border-radius: 10px;
            }
        }
    }
    .row-btn {
        ion-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            button {
                border-radius: 10px;
                background: var(--qmb-yellow);
                color: #000;
                font-size: $small-font;
                padding: 15px 40px;
                font-weight: 500;
            }
        }
    }
}

ion-buttons,
ion-title {
    color: black;
}