@import "../../global";
ion-content {
    --background: url("../../assets/bgs/canjea-puntos.jpg") no-repeat center center / cover;
}

ion-footer {
    border: none;
    --background: transparent!important;
    background: transparent!important;
    position: absolute;
    bottom: 0;
}

.card {
    background: white;
    border-radius: 5px;
    padding: 10px;
    ion-row {
        padding: 0;
        margin: 0;
        ion-col {
            padding: 0;
            margin: 0;
            p {
                padding: 0;
                margin: 0;
            }
        }
    }
    .row-1 {
        display: flex;
        align-items: center;
        .col-titulo {
            h2 {
                margin: 0;
                font-size: $semi-big-font;
                text-transform: uppercase;
                line-height: 100%;
                color: var(--qmb-dark-gray);
            }
            p {
                &.testigo {
                    color: var(--qmb-mgray);
                    font-size: 0.75rem;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                &.saldo-actual {
                    color: var(--qmb-dark-gray);
                    font-size: $small-font;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
            }
        }
        .n-puntos {
            font-size: $big-font;
            color: var(--qmb-dark-gray);
            font-weight: 800;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            img {
                margin-right: 8px;
                max-width: 30px;
            }
        }
    }
    .row-btn {
        ion-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
            button {
                border-radius: 10px;
                background: var(--qmb-yellow);
                color: var(--ion-dark-gray);
                font-weight: 500;
                font-size: $small-font;
                padding: 13px 20px;
                width: 100%;
                margin-top: 5px;
                text-transform: capitalize;
            }
        }
    }
}

.grid-img {
    position: relative;
    top: 10%;
    ion-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        ion-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 62%;
            }
        }
    }
}

ion-footer {
    border: none;
    --background: #202734;
    background: #202734;
    p {
        text-align: center;
        font-size: $xsmall-font;
        span {
            color: #b38f20;
        }
    }
}

ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}