@import "../../global";
@import "../../theme/header-transparent";
img {
    width: 100%;
}

h2,
h3 {
    margin-top: 0;
}

.main-img {
    h1 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: $xgiant-font;
        color: white;
        text-shadow: 1px 1px 5px black;
    }
}

ion-content {
    --background: #e2e2e2;
    background: #e2e2e2;
    padding: 0 !important;
}

.hhour-box {
    background: #e2e2e2;
    ion-row {
        background: white;
        padding: 15px;
        border-radius: 10px;
        .copete {
            text-align: center;
            h3 {
                color: #1d1d26;
                font-weight: 600;
                font-size: $semi-big-font;
                padding: 0;
                margin: 0;
                line-height: 100%;
            }
            p {
                color: grey;
                padding: 0;
                margin: 0;
                margin-top: 8px;
                font-size: $small-font;
            }
        }
        .col-img {
            img {
                border-radius: 0px;
                box-shadow: 0px 0px 3px #e2e2e2;
            }
        }
        .col-btn {
            .btn-vermapa {
                border-radius: 10px;
                background: var(--qmb-yellow);
                color: #000;
                padding: 15px 5px;
                text-align: center;
                width: 90%;
                font-size: $small-font;
                font-weight: bold;
            }
        }
    }
}

ion-buttons,
ion-title {
    color: black;
}