ion-content {
    background: white;
    --background: white;
}

ion-header {
    ion-toolbar {
        ion-title {
            //width: 80%;
            img {
                max-width: 66px!important;
            }
        }
    }
}

.main-container {
    .row-img {
        ion-col {
            ngx-qrcode {
                max-width: 90%;
            }
        }
    }
    .row-info {
        ion-col {
            h3 {
                color: grey;
            }
            p {
                color: grey;
            }
        }
    }
}

.puntos {
    color: green;
}