@import "../../global";

.title-row {
  margin-bottom: 3px;
  ion-col {
    .title {
      color: white;
      h3 {
        background: $dark-blue;
        padding: 5px;
        border-radius: 2px;
      }
    }
  }
}

.promos-list,
.canjes-list {
  ion-row {
    background: $light-blue;
  }
}

.promo-row,
.canje-row {
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  ion-col {
    align-items: center;
    justify-content: center;

    h3 {
      margin-top: 5px;
    }

    p {
      margin: 0;
      padding: 0;
    }

    img {
      border-radius: 5px;
      max-width: 90%;
    }
  }

  .puntos-a-sumar {
    display: flex;
    flex-direction: row;
    align-items: center;

    strong {
      margin: 0 5px;
    }

    img {
      max-width: 5%;
    }
  }
}
