// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*Estilos generales*/
ion-header {
    ion-toolbar{
        --background: var(--qmb-dark-gray);

        ion-buttons {
            
            ion-menu-button {
                
                    button {
                        --color: #fff;
                       
                  
                }
            }
        }

        ion-title {
            display: inline-block;
            width: 90%;
            vertical-align: middle;

            img {
                max-width: 25%;
            }
        }

        .lupa {
            width: 10%;
            display: inline-block;
            vertical-align: middle;

            img {
                max-width: 80%;
            }
        }
    }   
}

ion-content {
    &.dark-bg {
        background-color: var(--qmb-dark-gray);
        --background:  none;
    }

    ion-button {

        &.yellow-button {
            --background: var(--qmb-yellow);
            --border-radius: none;
            height: 45px;
            margin:0;
        } 
    }
}