ion-content {
  --background: var(--qmb-dark-gray);

  .welcome-card {
    --background: #fff;

    ion-card-header {
      padding-bottom: 0;
  
      ion-card-title {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}




