<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="../../assets/img/logo-header.png">
    </ion-title>
    <div class="lupa">
      <img src="../../assets/img/lupa-header.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <mis-puntos></mis-puntos>

  <ion-grid class="lugares-cercanos round-standard">

    <ion-row>
      <ion-col>
        <h2>{{cerveceria.nombre}}</h2>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="5" *ngFor="let promo of promos" class="square-promo-col round-standard">

        <ion-row (click)="goToInternaPromo(promo)" class="square-promo">

          <ion-col size="12" class="copete">
            <!-- <p float-left>{{promo.nombre}}</p> -->
            <p float-right>{{promo.puntos_promo}} pts</p>
          </ion-col>

          <ion-col size="12" class="col-img">
            <img src="{{promo.imgpath}}" />
          </ion-col>

          <ion-col size="12" class="info">
            <p class="title">{{promo.titulo}}</p>
            <p class="dir">{{promo.direccion}}</p>
            <!-- <p class="puntos">{{promo.puntos}} pts</p> -->
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>