@import "../../global";

ion-content {
  --background: #202734;
}

h2 {
  color: white;
  position: relative;
  left: 10%;
  margin-top: 5px;
}

.bg-light {
  background: $light-blue;
  padding: 0;
  margin-top: 5%;

  ion-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .square-promo-col {
      background: $dark-blue;
      margin: 5px;

      .square-promo {
        .copete {
          background: $yellow-birra;
          border-radius: 5px 5px 0 0;
          text-align: right;

          p {
            font-size: $small-font;
            margin: 0;
            padding: 0;
          }
        }

        .col-img {
          padding: 0;

          img {
            border-radius: 0 0 5px 5px;
          }
        }

        .info {
          p {
            margin: 0;
            padding: 0;
          }

          .title {
            font-size: $default-font;
          }

          .dir {
            font-size: $small-font;
          }

          // .puntos {
          //   margin-top: 10px;
          //   font-size: $semi-small-font;
          // }
        }
      }
    }
  }
}

.puntos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;

  .puntos_promo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 15px;
    font-size: $semi-small-font;
    margin: 0;
    padding: 3px 3px;
    margin-left: 3px;

    img {
      margin-left: 5px;
      max-width: 20%;
    }
  }
}
